.footer {
	
	width: 100%;
	height: 656px;
	position: relative;
	background: #070707;

	@media (max-width: 1200px) {
		font-size: 26px;
	}

	.container {
		width: 1386px;
		height: 656px;
		position: absolute;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 198px;
		display: inline-flex;
		flex-direction: row-reverse;
		
	}

	.footermenu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px
	}
	
	.footerlinklist {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
	}

	.footermenu#menu {
		flex-direction: row;
		gap: 100px;
	}

	.iconlink {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.iconlink img{
		width: 28px;
		height: 28px;
	}

	.title {
		display: inline-flex;
		align-items: flex-start;
		gap: 100px;
	}
	.menutitle {
		color: var(--Neutral-100, #FFF);
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: THICCCBOI;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px; /* 110% */
	}

	.logo {

		display: inline-flex;
		align-items: center;
		gap: 9.342px;
	}

	menu {
		display: inline-flex;
		align-items: flex-start;
		gap: 100px
	}

	title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
	}

	h6.bigTitle {
		color: var(--Neutral-100, #FFF);
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: THICCCBOI;
		font-size: 28px;
		font-style: normal;
		font-weight: 800;
		line-height: 31.764px; /* 113.442% */
	}

	h6 {
		color: var(--Neutral-100, #FFF);
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: THICCCBOI;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 22px; /* 110% */
	}
	a {
		color: var(--Neutral-100, #FFF);
		text-align: center;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: THICCCBOI;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 111.111% */
	}

	p {
		margin-top: 24px;
		width: 338px;
		color: var(--Neutral-100, #FFF);
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: THICCCBOI;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 30px; /* 166.667% */

		opacity: 0.7;
	}
}
